body{
	padding: 0px;
	margin: 0px;
	background: #AAAA39;
}

header{
	width: 90%;
	height: 120px;
	text-align: center;
}

.in{
	width: 40%;
	background: blue;
	float: left;
}

 main form .datos{
	width: 40%;
	border-radius: 10px ;	
	border: red solid 2px;
	display: inline;
	margin-left: 1%;
	background: blue;
}

.tipo_per{
	width: 50%;
	float: left;
	margin-top: 5%;
	border-radius: 10px ;	
	border: red solid 2px;
	display: inline;
	background: blue;
	margin-left: 1%;
}

.curso{
	width: 50%;
	float: left;
	margin-top: 5%;
	border-radius: 10px ;	
	border: red solid 2px;
	display: inline;
	background: blue;
	margin-left: 1%;
}

.taller{
	width: 80%;
	border-radius: 10px ;	
	border: red solid 2px;
	display: inline;
	background: blue;
	margin-left: 1%;
}

footer{
	background: #000;
	color: #ccc;
	text-align: center;	
}